form>{
    margin-top: 20%;

}

.fa-solid{

    font-size: 150px;
    color: rgb(80, 0, 44);

}
#h1_cad_user{
    color: azure;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-color: rgb(97, 17, 172);
}

.form-label{
     color: azure;
     font-size: 20px;

}

.btn{
    width: 40%;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom-color: rgb(228, 233, 233);
    color: aliceblue;
}
button{
    text-align:center;
    margin-top: 10px;
    color: blue;
}

.img_cad{
    margin-top: 220px;
width: 20px;
}