form{  
    margin-top: 20%;
    text-align:left;
}


.fa-solid{
    font-size: 100px;
    color: rgb(7, 118, 214);
}

body{
    background-color:blueviolet;
}

.form-label{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.btn{
    width: 30%;
} 
.img_cad {
    margin-top: 80px;
}

.button {
    text-align: center;
    margin-top: 30px;
}