form{
    margin-top: 1%;
}

.fa-solid{
    font-size: 50px;
    color: rgb(11, 11, 11);
}

body{
    background-color: 	#8282845f;
}

.form-label{
    align-items: center;
}

h1{
    margin-top: 08%;
}

.btn{
    width: 40%;
    margin-top: 3%;
    
}

.btn-primary{
    background-color: rgb(40, 17, 214);
}

.Img_cad.svg{
    margin-top: 249px;
}

